In [1]:
%load_ext sql

In [12]:
from sqlalchemy import create_engine

In [2]:
%sql postgresql://postgres:pass@192.168.201.103

In [17]:
%%sql

select now()

 * postgresql://postgres:***@192.168.201.103
1 rows affected.

[(datetime.datetime(2021, 6, 12, 11, 19, 49, 884141, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [5]:
%%sql



CREATE TABLE LINKS (
    movieId integer,
    imdbId varchar,
    tmdbId varchar
);

COPY LINKS(movieId, imdbId, tmdbId)
FROM '/ml-latest-small/links.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@192.168.201.103
Done.
9742 rows affected.

[]

In [6]:
%%sql

select count(*) from links;

 * postgresql://postgres:***@192.168.201.103
1 rows affected.

[(9742,)]

In [7]:
%%sql

select * from links limit 100;

 * postgresql://postgres:***@192.168.201.103
100 rows affected.

[(1, '0114709', '862'),
 (2, '0113497', '8844'),
 (3, '0113228', '15602'),
 (4, '0114885', '31357'),
 (5, '0113041', '11862'),
 (6, '0113277', '949'),
 (7, '0114319', '11860'),
 (8, '0112302', '45325'),
 (9, '0114576', '9091'),
 (10, '0113189', '710'),
 (11, '0112346', '9087'),
 (12, '0112896', '12110'),
 (13, '0112453', '21032'),
 (14, '0113987', '10858'),
 (15, '0112760', '1408'),
 (16, '0112641', '524'),
 (17, '0114388', '4584'),
 (18, '0113101', '5'),
 (19, '0112281', '9273'),
 (20, '0113845', '11517'),
 (21, '0113161', '8012'),
 (22, '0112722', '1710'),
 (23, '0112401', '9691'),
 (24, '0114168', '12665'),
 (25, '0113627', '451'),
 (26, '0114057', '16420'),
 (27, '0114011', '9263'),
 (28, '0114117', '17015'),
 (29, '0112682', '902'),
 (30, '0115012', '37557'),
 (31, '0112792', '9909'),
 (32, '0114746', '63'),
 (34, '0112431', '9598'),
 (36, '0112818', '687'),
 (38, '0113442', '33689'),
 (39, '0112697', '9603'),
 (40, '0112749', '34615'),
 (41, '0114279', '31174'),
 (42, '0112819', '11443'),
 (43, '0114272', '35196'),
 (44, '0113855', '9312'),
 (45, '0114681', '577'),
 (46, '0113347', '11861'),
 (47, '0114369', '807'),
 (48, '0114148', '10530'),
 (49, '0114916', '8391'),
 (50, '0114814', '629'),
 (52, '0113819', '11448'),
 (53, '0110299', '49133'),
 (54, '0112499', '26441'),
 (55, '0113158', '97406'),
 (57, '0113321', '9089'),
 (58, '0110877', '11010'),
 (60, '0113419', '11359'),
 (61, '0116260', '17182'),
 (62, '0113862', '2054'),
 (63, '0116126', '10607'),
 (64, '0118002', '19760'),
 (65, '0115683', '9536'),
 (66, '0116839', '11525'),
 (68, '0113149', '4482'),
 (69, '0113118', '10634'),
 (70, '0116367', '755'),
 (71, '0113010', '11859'),
 (72, '0113537', '28387'),
 (73, '0113828', '48750'),
 (74, '0115644', '20927'),
 (75, '0115676', '36929'),
 (76, '0114367', '9102'),
 (77, '0113973', '124626'),
 (78, '0112744', '27526'),
 (79, '0116731', '9623'),
 (80, '0112445', '46785'),
 (81, '0114660', '400'),
 (82, '0112379', '880'),
 (83, '0114039', '146599'),
 (85, '0112365', '8447'),
 (86, '0118158', '10534'),
 (87, '0116151', '17414'),
 (88, '0115697', '13997'),
 (89, '0113972', '2086'),
 (92, '0117002', '9095'),
 (93, '0114825', '12158'),
 (94, '0115639', '9283'),
 (95, '0115759', '9208'),
 (96, '0113403', '40154'),
 (97, '0113247', '406'),
 (99, '0113283', '63076'),
 (100, '0115907', '11062'),
 (101, '0115734', '13685'),
 (102, '0117102', '47475'),
 (103, '0118040', '2045'),
 (104, '0116483', '9614'),
 (105, '0112579', '688'),
 (106, '0110251', '11907'),
 (107, '0117110', '10874'),
 (108, '0112646', '89333'),
 (110, '0112573', '197'),
 (111, '0075314', '103'),
 (112, '0113326', '33542')]

In [8]:
%%sql

CREATE TABLE MOVIES (
    movieId INTEGER,
    title VARCHAR,
    genres VARCHAR
);

COPY MOVIES(movieId,title,genres)
FROM '/ml-latest-small/movies.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@192.168.201.103
Done.
9742 rows affected.

[]

In [9]:
%%sql
select * from movies limit 100;

 * postgresql://postgres:***@192.168.201.103
100 rows affected.

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy'),
 (6, 'Heat (1995)', 'Action|Crime|Thriller'),
 (7, 'Sabrina (1995)', 'Comedy|Romance'),
 (8, 'Tom and Huck (1995)', 'Adventure|Children'),
 (9, 'Sudden Death (1995)', 'Action'),
 (10, 'GoldenEye (1995)', 'Action|Adventure|Thriller'),
 (11, 'American President, The (1995)', 'Comedy|Drama|Romance'),
 (12, 'Dracula: Dead and Loving It (1995)', 'Comedy|Horror'),
 (13, 'Balto (1995)', 'Adventure|Animation|Children'),
 (14, 'Nixon (1995)', 'Drama'),
 (15, 'Cutthroat Island (1995)', 'Action|Adventure|Romance'),
 (16, 'Casino (1995)', 'Crime|Drama'),
 (17, 'Sense and Sensibility (1995)', 'Drama|Romance'),
 (18, 'Four Rooms (1995)', 'Comedy'),
 (19, 'Ace Ventura: When Nature Calls (1995)', 'Comedy'),
 (20, 'Money Train (1995)', 'Action|Comedy|Crime|Drama|Thriller'),
 (21, 'Get Shorty (1995)', 'Comedy|Crime|Thriller'),
 (22, 'Copycat (1995)', 'Crime|Drama|Horror|Mystery|Thriller'),
 (23, 'Assassins (1995)', 'Action|Crime|Thriller'),
 (24, 'Powder (1995)', 'Drama|Sci-Fi'),
 (25, 'Leaving Las Vegas (1995)', 'Drama|Romance'),
 (26, 'Othello (1995)', 'Drama'),
 (27, 'Now and Then (1995)', 'Children|Drama'),
 (28, 'Persuasion (1995)', 'Drama|Romance'),
 (29, 'City of Lost Children, The (Cité des enfants perdus, La) (1995)', 'Adventure|Drama|Fantasy|Mystery|Sci-Fi'),
 (30, 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)', 'Crime|Drama'),
 (31, 'Dangerous Minds (1995)', 'Drama'),
 (32, 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 'Mystery|Sci-Fi|Thriller'),
 (34, 'Babe (1995)', 'Children|Drama'),
 (36, 'Dead Man Walking (1995)', 'Crime|Drama'),
 (38, 'It Takes Two (1995)', 'Children|Comedy'),
 (39, 'Clueless (1995)', 'Comedy|Romance'),
 (40, 'Cry, the Beloved Country (1995)', 'Drama'),
 (41, 'Richard III (1995)', 'Drama|War'),
 (42, 'Dead Presidents (1995)', 'Action|Crime|Drama'),
 (43, 'Restoration (1995)', 'Drama'),
 (44, 'Mortal Kombat (1995)', 'Action|Adventure|Fantasy'),
 (45, 'To Die For (1995)', 'Comedy|Drama|Thriller'),
 (46, 'How to Make an American Quilt (1995)', 'Drama|Romance'),
 (47, 'Seven (a.k.a. Se7en) (1995)', 'Mystery|Thriller'),
 (48, 'Pocahontas (1995)', 'Animation|Children|Drama|Musical|Romance'),
 (49, 'When Night Is Falling (1995)', 'Drama|Romance'),
 (50, 'Usual Suspects, The (1995)', 'Crime|Mystery|Thriller'),
 (52, 'Mighty Aphrodite (1995)', 'Comedy|Drama|Romance'),
 (53, 'Lamerica (1994)', 'Adventure|Drama'),
 (54, 'Big Green, The (1995)', 'Children|Comedy'),
 (55, 'Georgia (1995)', 'Drama'),
 (57, 'Home for the Holidays (1995)', 'Drama'),
 (58, 'Postman, The (Postino, Il) (1994)', 'Comedy|Drama|Romance'),
 (60, 'Indian in the Cupboard, The (1995)', 'Adventure|Children|Fantasy'),
 (61, 'Eye for an Eye (1996)', 'Drama|Thriller'),
 (62, "Mr. Holland's Opus (1995)", 'Drama'),
 (63, "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)", 'Comedy|Crime'),
 (64, 'Two if by Sea (1996)', 'Comedy|Romance'),
 (65, 'Bio-Dome (1996)', 'Comedy'),
 (66, 'Lawnmower Man 2: Beyond Cyberspace (1996)', 'Action|Sci-Fi|Thriller'),
 (68, 'French Twist (Gazon maudit) (1995)', 'Comedy|Romance'),
 (69, 'Friday (1995)', 'Comedy'),
 (70, 'From Dusk Till Dawn (1996)', 'Action|Comedy|Horror|Thriller'),
 (71, 'Fair Game (1995)', 'Action'),
 (72, 'Kicking and Screaming (1995)', 'Comedy|Drama'),
 (73, 'Misérables, Les (1995)', 'Drama|War'),
 (74, 'Bed of Roses (1996)', 'Drama|Romance'),
 (75, 'Big Bully (1996)', 'Comedy|Drama'),
 (76, 'Screamers (1995)', 'Action|Sci-Fi|Thriller'),
 (77, 'Nico Icon (1995)', 'Documentary'),
 (78, 'Crossing Guard, The (1995)', 'Action|Crime|Drama|Thriller'),
 (79, 'Juror, The (1996)', 'Drama|Thriller'),
 (80, 'White Balloon, The (Badkonake sefid) (1995)', 'Children|Drama'),
 (81, "Things to Do in Denver When You're Dead (1995)", 'Crime|Drama|Romance'),
 (82, "Antonia's Line (Antonia) (1995)", 'Comedy|Drama'),
 (83, 'Once Upon a Time... When We Were Colored (1995)', 'Drama|Romance'),
 (85, 'Angels and Insects (1995)', 'Drama|Romance'),
 (86, 'White Squall (1996)', 'Action|Adventure|Drama'),
 (87, 'Dunston Checks In (1996)', 'Children|Comedy'),
 (88, 'Black Sheep (1996)', 'Comedy'),
 (89, 'Nick of Time (1995)', 'Action|Thriller'),
 (92, 'Mary Reilly (1996)', 'Drama|Horror|Thriller'),
 (93, 'Vampire in Brooklyn (1995)', 'Comedy|Horror|Romance'),
 (94, 'Beautiful Girls (1996)', 'Comedy|Drama|Romance'),
 (95, 'Broken Arrow (1996)', 'Action|Adventure|Thriller'),
 (96, 'In the Bleak Midwinter (1995)', 'Comedy|Drama'),
 (97, 'Hate (Haine, La) (1995)', 'Crime|Drama'),
 (99, 'Heidi Fleiss: Hollywood Madam (1995)', 'Documentary'),
 (100, 'City Hall (1996)', 'Drama|Thriller'),
 (101, 'Bottle Rocket (1996)', 'Adventure|Comedy|Crime|Romance'),
 (102, 'Mr. Wrong (1996)', 'Comedy'),
 (103, 'Unforgettable (1996)', 'Mystery|Sci-Fi|Thriller'),
 (104, 'Happy Gilmore (1996)', 'Comedy'),
 (105, 'Bridges of Madison County, The (1995)', 'Drama|Romance'),
 (106, 'Nobody Loves Me (Keiner liebt mich) (1994)', 'Comedy|Drama'),
 (107, 'Muppet Treasure Island (1996)', 'Adventure|Children|Comedy|Musical'),
 (108, 'Catwalk (1996)', 'Documentary'),
 (110, 'Braveheart (1995)', 'Action|Drama|War'),
 (111, 'Taxi Driver (1976)', 'Crime|Drama|Thriller'),
 (112, 'Rumble in the Bronx (Hont faan kui) (1995)', 'Action|Adventure|Comedy|Crime')]

In [18]:
%%sql

CREATE TABLE ratings_import (
    userId INTEGER,
    movieId INTEGER,
    rating NUMERIC(5,1),
    rating_timestamp bigint
);

COPY ratings_import (userId,movieId,rating,rating_timestamp)
FROM '/ml-latest-small/ratings.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@192.168.201.103
Done.
100836 rows affected.

[]

In [23]:
%%sql

DROP TABLE ratings ;

CREATE TABLE ratings 
AS SELECT 
    userId,
    movieId,
    rating,
    to_timestamp(rating_timestamp) AS rating_timestamp
FROM ratings_import;

 * postgresql://postgres:***@192.168.201.103
Done.
100836 rows affected.

[]

In [24]:
%%sql

select min(rating_timestamp), max(rating_timestamp)
from ratings;

 * postgresql://postgres:***@192.168.201.103
1 rows affected.

[(datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2018, 9, 24, 14, 27, 30, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

In [26]:
%%sql

CREATE TABLE tags_import (
    userId INTEGER,
    movieId INTEGER,
    tag VARCHAR,
    tag_timestamp bigint
);

COPY tags_import (userId,movieId,tag,tag_timestamp)
FROM '/ml-latest-small/tags.csv'
DELIMITER ','
CSV HEADER;

CREATE TABLE tags 
AS SELECT 
    userId,
    movieId,
    tag,
    to_timestamp(tag_timestamp) AS tag_timestamp
FROM tags_import;

 * postgresql://postgres:***@192.168.201.103
Done.
3683 rows affected.
3683 rows affected.

[]

In [3]:
%%sql

select * from tags limit 100;

select min(tag_timestamp), max(tag_timestamp)
from tags;

 * postgresql://postgres:***@192.168.201.103
100 rows affected.
1 rows affected.

[(datetime.datetime(2006, 1, 13, 19, 9, 12, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2018, 9, 16, 11, 50, 3, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]